.brand-icon {
	display: inline-block;
	fill: #737373;
}

.brand01 {
	width: 103px;
	height: 34px;
}

.brand02 {
	width: 83px;
	height: 59px;
}

.brand03 {
	width: 102px;
	height: 55px;
}

.brand04 {
	width: 103px;
	height: 42px;
}
.brand05 {
	width: 104px;
	height: 62px;
}

.brand06 {
	width: 76px;
	height: 72px;
}